body {
    padding-top: 50px;
   
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 1px;
    padding-right: 1px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    /*background-color:white;*/
    color:green;
    text-align:right;
    font-size:smaller;
}
.footer{
    /*position:fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#00334d; /*:#00334d;*/
    color:white;
    text-align:center;
    font-size:smaller;
}
.verticalLine{
      width: 0px; /* Use only border style */
      height: 100%;
      float: left; 
      border: 1px inset; /* This is default border style for <hr> tag */
}
.feedback-form{
     position:absolute;
    left: 0px;
    bottom: 500px;
    height:60px;
    width: 100%;
    border:solid 1px;
    border-radius:5px;
    background-color:skyblue;

}
/* Container holding the image and the text */
.topcontainer {
    background-image: url('../Multimedia/Image/hrms-500x500.png');
    height:400px;
    width:100%;
    position:relative;
}

